body {
    background: rgb(239, 243, 6);

}
h1 {
    padding: 50px;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(62, 19, 219);
}
#container {
    padding-bottom: 30px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#label {
    font: bold 20px cursive;
}

#task {
border: 2px solid;
line-height: 33px;
}

#b1 {
    font-family: cursive;
}
#tasklist {
    margin-left:auto;
    margin-right: auto;
    display: flex;
}

.fa-solid {
    pointer-events: none;
}
#del {
    flex: 1;
}
#check {
    flex:1;
}

.entryli {
    padding: 5px;
    justify-content: center;
    text-align: center;
    display: block;
    

}
.strike {
    text-decoration: line-through;
}
